@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body
{
    display: block;
    justify-content: center;
    align-items: center;
}
section{
    max-width: 1440px;
    margin: 0 auto;
}
.container
{
    align-items: center;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    box-shadow: 0 0 55px 35px rgba(0, 0, 0, 0.1);
}

.container .left_side
{
    position: relative;
    background: #003147;
    padding: 40px;
    height: 100%;
}
.profiletext
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid rgb(255, 255, 255,0.2);
}
.profiletext .imgbox
{
    position: relative;
    width: 210px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
}
.profiletext h2
{
    color: #fff;
    font-size: 45px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
}
.profiletext h2 span
{
    font-size: 0.5em;
    font-weight: 300;
}
.contactinfo
{
    padding-top: 60px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactinfo h3
{
    font-size: 27px;
    font-weight: 800;
}
.contactinfo ul
{
    font-size: 18px;
    position: relative;
}
.contactinfo ul li 
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 22px;
    color: #03a9f4;
}
.contactinfo ul li span
{
    color: #fff;
    font-weight: 400;
}
.contactinfo ul li span a
{
    color: #fff;
    font-weight: 400;
}
.contactinfo.education li
{
    line-height: 1.5;
    margin-bottom: 15px;
    list-style: none;
}
.contactinfo.education h5
{
    color: #03a9f4;
    font-weight: 500;
}
.contactinfo.education h4
{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.contactinfo.skill .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactinfo.skill .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.contactinfo.license h4
{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.contactinfo.license h4:nth-child(4){
    border-bottom: 1px solid rgb(255, 255, 255,0.2);
    line-height: 1.5;
    padding-bottom: 12px;
}
.contactinfo.license h4:nth-child(5){
    padding-top: 12px;
}
.container .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.container .right_side h2
{
    color: #003147;
    border-bottom: solid 3px #003147;
}
.about
{
    margin-bottom: 50px;
    line-height: 1.5;
}
.about:last-child
{
    margin-bottom: 0;
}
.about p{
    font-size: 18px;
}
.title2
{
    color: #003147;
    margin-bottom: 15px;
    font-size: 33px;
    font-weight: 900;
}


/* 기술소개 */

.main_text{
    font-size: 40px;
    font-weight: 800;
    color: #003147;
    margin: 50px 0px 50px 0px;
}
.skills
{
    position: relative;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 55px 35px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.skills h2
{
    color: #003147;
    text-transform: uppercase;

}
.cando
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 70px;
    list-style: none;
    /* border: solid 3px #003147; */
    background-color: #003147;
    color: #ffffff;
    border-radius: 20px;
}
.cando a
{
    text-align: center;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
}
.cando>li{
    margin: 11%;
}
.cando li
{
    list-style: none;
}
.cando ul{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
}


.project
{
    position: relative;
    margin: 0 auto;
    color: #003147;
    box-shadow: 0 0 55px 35px rgba(0, 0, 0, 0.1);
    padding: 40px;
}
.project h2
{
    color: #003147;
    text-transform: uppercase;
}
.proj1 h3
{
    font-weight: 600;
    font-size: 25px;
    margin-top: 100px;
}
.proj_ex
{
    margin: 20px 40px;
    line-height: 1.5;
}
.proj_ex p{
    font-size: 20px;
    line-height: 1.5;
}
.proj_ex1
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 25px;
}
.proj_ex1 p{
    font-size: 20px;
    font-weight: 600;
}
.proj_ex1 img
{
    width: 80%;
    height: 80%;
}
.proj_icon p{
    margin-top: 10px;
}
.proj_icon1 p{
    margin-top: 10px;
}
/* proj2 */
.proj2 h3
{
    margin: 150px 0 20px 0;
    font-weight: 600;
    font-size: 25px;
}
.proj_ex2
{
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0 40px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border: solid 1px rgba(0, 0, 0, 0.1);  
}
.flexbox{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    color: #003147;
    line-height: 1.8;
}
.proj_box{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 43%;
}
.proj_ex2 p:first-child{
    font-size: 27px;
}
.proj_ex2 p{
    font-size: 21px;
}   
.proj_ex2 img
{
    width: 600px;
    height: 400px;
    margin: 40px;
}
.proj_info2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.proj_info2 p:first-child {
    margin-bottom: 20px;    
}
.proj_info2 p{
    line-height: 1.5;
}
.name{
    text-align: center;
    font-weight: 900;
}
.proj_info1 .proj_info2{
    background-color: #aaaaaa;
}
.magin50{
    margin: 50px 0 50px 0;
}
/* intro */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.intro
{
    max-width: 1440px;
    width: 100%;
    height: 56vw;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    justify-content: center;
}
.intro div{
    margin: 0 auto;
}
.text-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg text {
    font-family: 'Staatliches', cursive;
    font-size: 80px;
    font-weight: 900;
    fill:transparent;
    stroke-dasharray: 326px;
    animation: stroke 1s linear;
    animation-fill-mode: forwards;
}
svg text:nth-child(1) {
    animation-delay: 0s;
}
svg text:nth-child(2) {
    animation-delay: 0.25s;
}
svg text:nth-child(3) {
    animation-delay: 0.45s;
}
svg text:nth-child(4) {
    animation-delay: 0.65s;
}
svg text:nth-child(5) {
    animation-delay: 0.85s;
}
svg text:nth-child(6) {
    animation-delay: 1.5s;
}

@keyframes stroke {
    0%   {
        stroke:#003147;
        stroke-width: 3px;
        stroke-dashoffset: 326px;
    }
    70% {
        fill: transparent;
    }
    98% {
        stroke:#003147;
        stroke-width: 3px;
    }
    100% {
        fill: #003147;
        stroke-dashoffset: 0px;
    }
}


.button {
    width: 108px;
    height: 108px;
    display: flex;
    justify-items: center;
    text-align: center;
    line-height: 108px;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #003147;
    font-size: 13px;
    letter-spacing: .2em;
    border-radius: 50%;
}
.button span{
    width: 108px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.https{
    color: rgb(0, 0, 255);
    border-bottom: solid 1.1px rgb(0, 0, 255);
}
.https:hover{
    cursor: pointer;
    color: rgb(194, 58, 128);
    border-bottom: solid 1.1px rgb(194, 58, 128);
}
